html, body {
    height: 100%;
}

body {
    background: linear-gradient(-15deg, rgba(179, 219, 246, 0.3), rgba(203, 235, 255, 0.5) 30%, #f7fafc) fixed;
}

.content {
    text-align: center;
}

.title {
    font-size: 3em;
}

.btkzone label {
    font-size: 0.75em;
    margin-bottom: 0.75em;
    font-weight: normal;
}

.btkzone div.checkbox {
    text-align: left;
}

.progress {
    background-color: transparent;
    border-radius: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.btkzone {
    border-radius: 1em;
}

.coming-soon .panel {
    background-image: url(/images/comingsoon.png);
    opacity: .5;
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
}

.plan .panel-body > p:first-child {
    margin-right: 4em;
}

span.price {
    position: absolute;
    right: 0em;
    top: -1em;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    text-align: center;
    padding-top: 2em;
    line-height: 2em;
    z-index: 1;
}

.navbar .navbar-nav a:hover {
    background-color: #c8dce6;
}

.stripe-button-el {
    display: none !important;
}

#uploaded-project-files div {
    margin-bottom: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
}

#colourizehint {
    background-color: rgb(50%, 50%, 50%);
    /*opacity: 0.5;*/
    height: 14em;
    margin-top: 1em;
}

#rb .slider-track-high {
    background: #FF8282;
}

#gb .slider-track-high {
    background: #428041;
}

#bb .slider-track-high {
    background: #8283FF;
}

.minimise-toggle {
    cursor: pointer;
}

/*  credit card type toggle thing */
div.card:before {
    font-family: FontAwesome;
}
.visa + div.card:before,
.visaelectron + div.card:before {
    content: "\f1f0";
}
.mastercard + div.card:before {
    content: '\f1f1';
}
.amex + div.card:before {
    content: '\f1f3';
}
.dinersclub + div.card:before {
    content: '\f24c';
}
.discover + div.card:before {
    content: '\f1f2';
}
.unionpay + div.card:before {
    content: '\f20a';
}
.jcb + div.card:before {
    content: '\f24b';
}

.maestro + div.card:before {
    content: '\f20a';
}
.forbrugsforeningen + div.card:before {
    content: '\f20a';
}
.dankort + div.card:before {
    content: '\f20a';
}

.identified + div.card > i {
    display: none;
}