html, body {
    height: 100%;
}

body {
    background: linear-gradient(-15deg, rgba(179, 219, 246, 0.3), rgba(203, 235, 255, 0.5) 30%, #f7fafc) fixed;
}

.content {
    text-align: center;
}

.title {
    font-size: 3em;
}

.btkzone label {
    font-size: 0.75em;
    margin-bottom: 0.75em;
}

.btkzone div.checkbox {
    text-align: left;
}

.progress {
    background-color: transparent;
    border-radius: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.btkzone {
    border-radius: 1em;
}

.coming-soon .panel {
    background-image: url(/images/comingsoon.png);
    opacity: .5;
    background-size: contain;
    background-position-y: center;
    background-repeat-y: no-repeat;
}

span.price {
    position: absolute;
    right: 0em;
    top: -2em;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    text-align: center;
    padding-top: 2em;
    line-height: 2em;
    z-index: 1;
}

.navbar .navbar-nav a:hover {
    background-color: #c8dce6;
}

.stripe-button-el {
    display: none !important;
}

#uploaded-project-files div {
    margin-bottom: 1em;
}